// details
$dark-detail: #994151;
$light-detail: #f69195;


// background
$white: #ffffff;
$white-gray: #fbf8ff;
$neutral-gray: #d6d2c4;
$hero-shadow: rgba(255, 255, 255, 0.55);
$navbar: rgba(255, 255, 255, 0.8);

// fonts
$dark-gray: #393232;
$mid-gray: #4d4545;
$light-black: rgb(10, 10, 10);
